* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.row{
   margin-right: 0px;
}
/***********************HEADER*/
header {
  background-image: url(../img/payments-banner-graphic.png);
  background-size: 100% 100%;
  padding: 0;
}
.navbar-header {
  position: relative;
}
.navbar-link {
  color: #fff;
}
.navbar > .container-fluid .navbar-brand {
    color: #fff;
    line-height: 30px;
    letter-spacing: 2.5px;
    margin-left: 0.3em;
}
.navbar-brand > img {
  float: left;
}
.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}
.logo-icon {
  width: 1.8em;
  height: 1.8em;
}
.top-freelancer {
  margin: 5em 0;
}
h1, .paraf-white {
  color: #fff;
  padding-bottom: 0.5em;
}
h1 {
  font-size: 3.3em;
}
.paraf-white {
  font-size: 1.7em;
  padding-bottom: 1em;
}
.btn-white {
  background: #fff;
  border-radius: 0.5em;
  color: #8383B5;
  padding: 0.5em 3em 0.3em;
  letter-spacing: 0.2em;
  border: none;
}
.btn-white:hover {
  background-color: #6565A0;
  color: #fff;
  letter-spacing: 0.2em;
  border: none;
}
.border {
  border-right: 1px solid #8383B5;
}
/******************************SIMPLE PRICING*/
.background {
  background-color: rgb(242, 242, 242);
}
h3 {
  color: #a19d9d;
}
.dollar {
  float: left;
  margin-left: 1.5em;
  padding-right: 2.5em;
}
.dollar p {
  color: #8383B5;
  font-size: 4.5em;
  font-weight: 500;
}
.pair-paid-invoice {
  font-size: 2.0em;
  line-height: 2.1em;
  margin-bottom: 0;
}
.transaction {
  line-height: 0.5em;
  color: #a19d9d;
  font-size: 1.1em;
}
.top-freelancer1 {
  margin-top: 5em;
}
/*******************CREDIT CARDS*/
.credit-cards {
  background-color: #696969;
  padding: 1.5em 0;
}
.credit-cards p {
  color: #fff;
  font-size: 1.3em;
  margin: 0;
}
/*******************6 CARRES*/
.flex, .flex-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.border-grey {
  border-bottom: 1px solid #9b93d0;
  padding-right: 0;
}
.color-blue {
  background-color: #71d7f9;
  overflow: hidden;
}
.color-violet {
  background-color: #9b93d0;
  overflow: hidden;
}
.resize-image-1 {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 60%;
  margin: auto;
  transform: translateY(19%);
}
.desc {
  width: 64%;
  margin: auto;
}
.vertical-center {
  position: relative;
  top: 3.5em;
}
.flex h4, .flex-reverse h4 {
  font-size: 1.7em;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
}
.flex p, .flex-reverse p {
  font-size: 1.25em;
  color: #696969;
}
/************************CREATE AN ACCOUNT*/
.page-header {
    border-bottom: none;
    margin-bottom: 40px;
}
.account h5 {
  font-size: 1.3em;
  letter-spacing: 0.15em;
  margin-bottom: 1.2em;
  line-height: 1.6em;
}
.btn {
    background-color: #71D7F9;
    color: #fff;
}
/*****************************FOOTER*/
.bs-docs-footer {
  background-color: #2a2730;
  padding: 8em 0;
}
.title-li {
  color: #a19d9d;
  font-size: 1.3em;
}
.title-ul li{
  list-style: none;
  line-height: 3em;
}
.title-ul li a{
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}
li .fa {
    margin-right: 1.2em;
    color: #fff;
}
.paraf-footer {
  color: #fff;
  font-size: 0.6em;
  line-height: 2.2;
}
.no-margin {
  margin: 0;
}
.marge {
  margin-top: 3em;
}
/*********************************BUBBLE*/
.fa.fa-comments {
  color: #fff;
  font-size: 2em;
  margin-left: 0.45em;
  line-height: 1.8em;
}
.radius-footer {
  background-color: #8383B5;
  border: 1px solid #6565A0;
  width: 4em;
  height: 4em;
  border-radius: 10em;
  box-shadow: 0 1em 1.5em #696969;
  position: fixed;
  right: 1em;
  bottom: 0.8em;
}
/*******************************BURGERS*/
.navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 0px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1);
}
/***************************************BACK-TOP***/
#back-top {
    background-color: #696969;
    width: 30px;
    height: 30px;
    border-radius : 20%;
    position: fixed;
    bottom: 129px;
    right: 26px;
  }
  #back-top:hover {
      background-color: #8383B5;
  }
#back-top a .fa.fa-chevron-up {
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    padding-left: 5px;
    width: 24px;
    height: 30px;
}
#back-top a .fa.fa-chevron-up:hover {
    color: #fff;
}
/**************************MEDIA QUERY  XS*/
@media screen and (min-width: 320px) and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
  .border {
    border-right: 0;
    border-bottom: 1px solid #8383B5;
  }
  .border:first-child {
    margin-top: 45px;
  }
  .margin_p {
    margin: 0 0 45px;
  }
  .top-freelancer {
      margin: 0;
  }
  .ecart {
    padding-right: 0;
  }
  .color-blue {
    padding-right: 0;
}
  /*******************************NAVBAR*/
  .navbar {
    margin-bottom: 0;
}
  .navbar-nav {
    float: right;
    margin: 0;
  }
  .navbar-link {
      text-align: right;
      font-size: 0.9em;
  }
  .navbar-nav > li > a {
    line-height: 0px;
  }
  .dropdown a {
    color: #fff;
  }
  .dropdown a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
  }
  .navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 #6565A0;
  }
  .navbar-toggle {
    padding: 9px 1px;
  }
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0.8em;
  }
  .nav > li > a {
    padding: 10px 5px;
  }
  .dropdown, .dropup {
    text-align: right;
  }
  .navbar-nav .open .dropdown-menu {
    text-align: right;
    right: 0px;
    margin-left: 50PX;
  }
  .navbar-right li {
    width: 62px;
  }
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
  /***************************DIV FREELANCER*/
  h1 {
    font-size: 1.6em;
  }
  .paraf-white {
    font-size: 1.1em;
  }
  .btn-white {
    margin-bottom: 10vh;
    font-size: 0.75em;
  }
  /***************************SIMPLE PRICING*/
  .background {
    /*height: 0;*/
  }
  /***************************6 CARRES*/
  .border {
    margin-bottom: 3em;
  }
  h3 {
    font-size: 1.3em;
  }
  .dollar {
    margin-left: 2.7em;
    padding-right: 0.5em;
  }
  .pair-paid-invoice {
    font-size: 1em;
    line-height: 4.1em;
  }
  .transaction {
    font-size: 0.85em;
  }
  .credit-cards p {
    font-size: 0.9em;
  }
  .bg-xs {
    background-color: rgb(242, 242, 242);
  }
  .flex h4, .flex-reverse h4 {
    font-size: 1.03em;
    text-align: center;
    margin-top: 2em;
}
  .flex p, .flex-reverse p {
    font-size: 1em;
    margin-bottom: 2em;
    text-align: justify;
  }
  .page-header {
    margin: 2em;
  }
  /****************************ACCOUNT*/
  .account {
    background-color: grey;
  }
  .no-padding {
    padding-right: 0;
  }
  .border-grey {
    border-bottom: 0;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-md-4 h5 {
    font-size: 1.05em;
  }
  .radius-footer {
    right: 1.4em;
    width: 3em;
    height: 3em;
  }
  .fa.fa-comments {
    color: #fff;
    font-size: 1.7em;
    margin-left: 0.3em;
    line-height: 1.5em;
  }
  .flex-reverse {
    flex-direction: row;
  }
  /*********************footer*/
  .bs-docs-footer {
    padding: 1em 0;
  }
  .title-ul li {
    line-height: 2em;
  }
  .paraf-smartphone {
    margin-bottom: 1em;
  }
  .paraf-footer {
    font-size: 0.4em;
  }
  /*******************************BACK-TOP*/
  #back-top {
    bottom: 84px;
  }
}
/**************************MEDIA QUERY  XS*/
@media screen and (min-width: 375px) and (max-width: 413px) {
  /*********************CREATE AN ACCOUNT*/
  .dollar {
    margin-left: 4.5em;
  }
  .pair-paid-invoice {
    line-height: 3em;
  }
}
/**************************MEDIA QUERY  SM*/
@media screen and (min-width: 641px) and (max-width: 767px) {
  /*************************************HEADER*/
  .navbar-header {
      float: none;
  }
  .navbar > .container-fluid .navbar-brand {
    color: #fff;
    line-height: 30px;
    letter-spacing: 2.5px;
    margin-left: 0.7em;
}
  .navbar-toggle {
      display: none;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 0 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: block;
  }
  .navbar-nav {
      float: none;
      margin: 7.5px -15px;
      position: absolute;
      top: 0px;
      right: 0;
  }
  .navbar-nav>li {
      float: right;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-right {
    text-align: right;
  }
  /***********************DIV FREELANCER*/
  h1 {
    font-size: 2.4em;
  }
  .background {
    margin-top: 62em;
  }
  .top-freelancer {
    margin: 3.7em 0;
  }
  .dollar {
    margin-left: 10.3em;
  }
  /**************************CREDIT CARDS*/
  .credit-cards p {
    font-size: 1.2em;
  }
  /******************************6 CARRES*/
  .border-grey {
    padding: 0;
  }
  .color-blue {
    width: 103vw;
  }
  .color-violet {
    margin-left: O;
  }
  .flex, .flex-reverse {
    display: block;
  }
  .flex-reverse {
    /*flex-direction: row-reverse;*/
  }
}
/**************************MEDIA QUERY 960-1024*/
@media screen and (min-width: 960px) and (max-width: 1024px) {
  .dollar {
    margin-left: 20.5em;
  }
  .flex h4, .flex-reverse h4 {
    font-size: 1.3em;
  }
  .flex p, .flex-reverse p {
    font-size: 1em;
  }
}
/**************************MEDIA QUERY  1024-1280*/
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /*********************SIMPLE PRICING*/
  .pair-paid-invoice {
    font-size: 1.35em;
    line-height: 2.9em;
  }
  .transaction {
    font-size: 0.9em;
  }
  .flex, .flex-reverse {
    align-items: stretch;
  }
  /*********************6 CARRES*/
  .flex h4, .flex-reverse h4 {
    font-size: 1.4em;
  }
  /*********************CREATE AN ACCOUNT*/
  .account h5 {
    font-size: 1.1em;
  }
}
